version: '3'

services:
  portainer:
    image: portainer/portainer
    container_name: "portainer"
    restart: always
    networks:
      - pretty-fly-docker_net
    ports:
      - 9000:9000
    environment:
      - VIRTUAL_HOST=portainer$ENV_DOMAIN
      - VIRTUAL_PORT=9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./portainer:/data

  unifi-controller:
    image: linuxserver/unifi-controller
    container_name: unifi-controller
    environment:
      - PUID=1000
      - PGID=1000
      - MEM_LIMIT=1024M #optional
      - VIRTUAL_HOST=unifi-controller${ENV_DOMAIN}
      - VIRTUAL_PORT=8443
    volumes:
      - ./unifi_controller/config:/config
    ports:
      - '3478:3478/udp'
      - '10001:10001/udp'
      - '8080:8080'
      - '8081:8081'
      - '8443:8443'
      - '8843:8843'
      - '8880:8880'
      - '6789:6789'
    restart: unless-stopped


  bind:
    restart: always
    container_name: "bind"
    image: sameersbn/bind:latest
    dns: 127.0.0.1
    env_file:
      - ./bind/bindsecrets.env
    ports:
      - "53:53/udp"
      - "53:53/tcp"
      - "10000:10000"
    volumes:
    - ./bind:/data

  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    networks:
      - pretty-fly-docker_net
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./misc/network_internal.conf:/etc/nginx/network_internal.conf
      # - ./misc/vhost.d:/etc/nginx/vhost.d:ro

  # whoami:
  #   image: jwilder/whoami
  #   container_name: whoami
  #   networks:
  #     - pretty-fly-docker_net
  #   environment:
  #     - VIRTUAL_HOST=whoami.prettyfly.net

  gitlab:
    image: 'gitlab/gitlab-ce:latest'
    restart: always
    networks:
      - pretty-fly-docker_net
    container_name: gitlab
      #hostname: 'gitlab.example.com'
    environment:
      #GITLAB_OMNIBUS_CONFIG: external_url 'https://gitlab.example.com'
        # Add any other gitlab.rb configuration here, each on its own line
      - VIRTUAL_HOST=gitlab${ENV_DOMAIN}
      - VIRTUAL_PORT=8929
    ports:
      - '8929:80'
      - '2289:443'
      - '2229:22'
    volumes:
      - './gitlab/config:/etc/gitlab'
      - './gitlab/logs:/var/log/gitlab'
      - './gitlab/data:/var/opt/gitlab'

  # jenkins:
  #   image: jenkins/jenkins:latest
  #   container_name: jenkins
  #   # user: jenkins
  #   volumes:
  #     - ./jenkins:/var/jenkins_home
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   # environment:
  #   #   JENKINS_HOST_HOME: "/data/jenkins"
  #   ports:
  #     - "8080:8080"
  #     - "5000:5000"
  #     - "50000:50000"
  #   networks:
  #     - pretty-fly-docker_net
  #   environment:
  #     - VIRTUAL_HOST=jenkins$ENV_DOMAIN
  #     - VIRTUAL_PORT=8080


networks:
  pretty-fly-docker_net:
    external: true
