version: '3'

services:
  portainer:
    image: portainer/portainer
    container_name: "portainer"
    restart: always
    networks:
      - pretty-fly-docker_net
    ports:
      - 9000:9000
    environment:
      - VIRTUAL_HOST=portainer$ENV_DOMAIN
      - VIRTUAL_PORT=9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./portainer:/data

  # bind:
  #   restart: always
  #   container_name: "bind"
  #   image: sameersbn/bind:latest
  #   # dns: 127.0.0.1
  #   # environment:
  #   #   - ROOT_PASSWORD=
  #   ports:
  #   - "53:53/udp"
  #   - "53:53/tcp"
  #   - "10000:10000/tcp"
  #   volumes:
  #   - ./bind:/data

  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    networks:
      - pretty-fly-docker_net
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./misc/network_internal.conf:/etc/nginx/network_internal.conf

  whoami:
    image: jwilder/whoami
    container_name: whoami
    networks:
      - pretty-fly-docker_net
    environment:
      - VIRTUAL_HOST=whoami.prettyfly.net

  jenkins:
    image: jenkins/jenkins:latest
    container_name: jenkins
    # user: jenkins
    volumes:
      - ./jenkins:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    # environment:
    #   JENKINS_HOST_HOME: "/data/jenkins"
    ports:
      - "8080:8080"
      - "5000:5000"
      - "50000:50000"
    networks:
      - pretty-fly-docker_net
    environment:
      - VIRTUAL_HOST=jenkins$ENV_DOMAIN
      - VIRTUAL_PORT=8080:8080

networks:
  pretty-fly-docker_net:
    external: true
